.orders {
  position: absolute;
  right: 0;
  width: 33.34%;
  padding-left: 1rem;
  
  &--fixed-div{
    position: fixed;
    top: 0;
    right: 31.6667px;
  }
  
  &__container {
    background-color: $blue;
    padding: 0 1rem;
    min-height: 572px;
  }

  &__price {
    font-weight: 300;
    font-style: italic;
  }

  &__total {
    display: none;

    &--is-visible {
      display: block;
    }
  }
}