.site-footer {
  background-color: $black;
  padding: 1rem;

  &__site-name {
    margin: 0;
    color: $red;
  }

  &__description {
    font-weight: 300;
    font-size: italic;
  }

  &__headline {
    margin: 0;
    font-weight: 300;
    margin-bottom: .7rem;
  }
}